

   <h1 class="cen"> Write down the number of steps you took</h1>

<form class="all" asp-action="StepsToCalories" asp-controller="Pedometer" method ="post">
   <br />
    <input  type="number" name="Steps"class="txt" />
    <br />
    <button type ="submit" class="bt">Calculate</button >

</form>



